# ch2.variable

## 복습

In [ ]:
- variable 종류 : string, float, integer,bolean

## 1. 여러이름에 동시에 할당 가능

In [8]:
two = deux = dos = 2 

print(two) ; print(deux) ; print(dos) # 여러코드를 한 줄에 ;(세미콜론)을 통해 나타낼 수 있음
# 모두 2의 값을 가진다.
# 순서 : dos > deux > two 순으로 할당 된다.

2
2
2

In [10]:
two = 4  #two 의 값 변경하면 ?

print(two,deux,dos)

4 2 2

In [ ]:
- two의 값은 변하지만, deux,dos의 값은 그대로이다. 
- integer은 불변객체이다.

In [18]:
id(two), id(deux) 
#two의 id와 deux의 아이디는 다르다.

(1707734886800, 1707734886736)

In [17]:
- 값을 변화시킬려면 [] 사용

SyntaxError: invalid syntax (Temp/ipykernel_3444/1745347813.py, line 1)

In [14]:
p = [1,2,3]
q = p #id가 같다

print(p,q)

[1, 2, 3] [1, 2, 3]

In [15]:
p[0]=9  #[0]의 자리인 1이 9로 바뀜. 아이디는 그대로

print(p,q)

[9, 2, 3] [9, 2, 3]

In [ ]:
- id : 메모리 주소를 찾는 것

##2 좋은 변수명

In [ ]:
- 간결하고 의미있게 
- 코드에는 의미를, 주석에는 의도를 담아야함
ex) a,b,c (X) , num_students (O)

- 카멜 표기법 : numStudents

##3 자료형 변환

In [ ]:
- str(변환할 값), int(), float(), bool()

In [27]:
num_apple = 20

a = str(num_apple) ; print(a) ; type(a)

20

str

In [28]:
b = float(num_apple ) ; print(b) ; type(b)

20.0

float

In [30]:
c = bool(num_apple) ; print(c) ; type(c)

True

bool

In [ ]:
# 자료형 변환할 때 주의점
`

In [ ]:
1. float > int 
- 소수점이 내려진다.

In [31]:
x = 10.5 
y = 0.5

print(int(x+y))
print(int(x) + int(y))
# 값이 달라진다.

11
10
11.0

In [ ]:
2. str > int/float

In [32]:
i = '10'
print(int(i)) 
print(float(i))

10
10.0

In [33]:
j = '10.7'
print(int(j)) #error

ValueError: invalid literal for int() with base 10: '10.7'

### 새로 배운 내용

## 1. print() 사용 방법

In [ ]:
# print(a + b +c) space없이 출력됨.
# print(a,b,c) space있게 출력됨.
# print(abc, sep=',', end='\n') #default 값

In [3]:
cat = 'cat'
dog = 'dog'
lion = 'lion'

print(dog + cat + lion)
print(dog,cat,lion)
print(dog,cat,lion, sep =',', end ='\n')

# 문자열 + 변수 를 나타내는 방법
print('I am',cat)
print(f'I am {dog}')

dogcatlion
dog cat lion
dog,cat,lion
I am cat
I am dog

## 2. input 함수 사용

In [ ]:
- console에서 사용자가 입력하는 값을 받을 수 있는 함수
- 입력받은 값은 문저열로 인식 , 숫자면 형변환 필요

In [5]:
number = input()
type(number)

 4

str

In [ ]:
- 입력받은 값은 변수로 담아 사용함. 변수로 지정안하면 사라짐

In [6]:
# 변수에 할당하는 법
#1. 
age = input('나이:')
#2
print('나이:')
age = input()

나이: 4

나이:

 6

## 3. 논리 연산자

In [ ]:
- 여러 조건식을 비교할 때 사용
- and,& : 둘다 참 True
- or, | : 둘 중 하나만 참이여도 True
- not : 참=False, 거짓=True
# 1<x<3 파이썬 만 가능한 수식

# ch3 numbers

## 1. boolean

In [ ]:
- False :'',None, 0 ,..
- True : 나머지
- 조건식에서 사용된다.

In [11]:
bool(1) ; bool('')

False

## 2. integer

In [ ]:
- defalut : 양수, - 음수
- 숫자앞에 0 못 붙인다. # 0bxxxx는 다른 진수표현법으로 허용
- 숫자는 공백이 많아도 무시

In [12]:
a = 09  # 숫자는 0으로 시작 불가능

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (Temp/ipykernel_11944/504318059.py, line 1)

In [14]:
print(10,000) # 10,000을 표현하고 싶으면 _ 사용
print(10_000)

10 0
10000

## 3. 연산

In [ ]:
- 연산자 | operator : + -
- 피연산자 | operand : 4,5 ...
- 수식 | expression

In [ ]:
x + y
x - y
x * y
x / y
x ** y  #거듭제곱 | exponential

In [ ]:
- 나누기 주의
1. 0 으로 나누지 못함 , y != 0

x // y : 몫
x % y : 나머지

divimod(x,y) = (몫, 나머지)

## 4. 복합 대입 연산자 compound assignment operator

In [15]:
a = 5
a - 3
print(a) 
# a 값은 변하지 않음. a를 새로 바꾸고 싶으면 사용

5

In [ ]:
1. a-3 계산
2. 임시변수 temp = a-3
3. a = a-3을 새로 할당

In [ ]:
a -= 3 
a += 3
a *= 3
a /= 3

## 5. 지수표현

In [2]:
1.0e6    #float

1000000.0

In [ ]:
- e,E 모두 가능
- 앞부분은 float, int 가능
- 뒤부분은 int만 가능
- 양수면 0 앞으로
- 음수면 0 뒤로 (소수점)

In [5]:
# 0.000789
7.89e-4

0.000789

# ch.4 if 문

## 1.조건문 if

In [ ]:
1. 코드 짜는 룰
- 주석다는 방법 
  - 설명하는 부분을 '#' hash,sharp 을 사용한다.
    
  - 문자열 안에 들어있는 해시는 문자열로 인식

In [6]:
my_name = '##mountain##'
print(my_name)

##mountain##

In [7]:
""" 주석 내용 """ 
print(3)

3

In [ ]:
2. if 절의 라인 유지하기
- 들여쓰기 = 공백 4개 = 탭 1개
- 한줄에 최대 88자 넘지 않게한다.
- 백슬래시 \ 를 사용해 끊어준다.

if <조건식> :
    조건식 ....

In [8]:
# 조건식 1개 if 절

if 0 == 0 :
    print('yes')

big

In [12]:
# 조건식 2개 if절

num = input()
if num == 0 :
    print('zero')
else :
    print('no')
# if와 else의 라인은 같게 , prit들의 라인을 같게 맞춘다.

 4

no

In [10]:
# 조건식 3개 if 절

num = input()
if num == 0 :
    print('zero')
elif num > 1 :
    print('big')
else :
    print('no')

yes

## 2.비교연산

In [ ]:
x < y
x <= Y
x > y
x >= y
x == y
x != y
x is y  #값과 메모리 주소가 같아야함
x is not y

# 퀴즈

## 1. 섭씨를 입력받아 화씨로 변환

In [13]:
celsius = float(input('섭씨:'))
fahr = celsius * 1.8 + 32
print('화씨는 %f 도 입니다' % (fahr))

섭씨: 34.5

화씨는 94.100000 도 입니다

## 2.택배 정보받기

In [ ]:
- 택배 정보 입력받고, 총 합계 계산하기
- 출력값 :
    - 수취인 성명 : <이름>
    - 수취인 주소 : <주소>
    - 배송비 : 3000원
    - 물건 비용 : <가격>원
    - 총 합계 : <가격>원
- 물건 비용 = 무게 (g) * 5
- 합계 = 배송비 + 물건 비용

In [18]:
print('택배 정보를 입력해주세요.')

name = input('이름:')
address = input('주소:')
print('배송비 : 3000원')
weight_g = input('무게:')

fee = float(weight_g) * 5
total_fee = int(3000 + fee)

print(f"총 합계는 {total_fee}원 입니다.")

택배 정보를 입력해주세요.

이름: 임산별
주소: 이문동

배송비 : 3000원

무게: 45

총 합계는 3225원 입니다.

## 3. 홀수 짝수 확인

In [ ]:
- 정수를 입력받고, 3의 배수인지 확인하세요
- = 홀수인지 확인하세요

In [ ]:
num1 = int(input('정수를 입력해주세요:'))
if num1 % 3 == 0 :
    print('3의 배수입니다.')
else :
    print('3의 배수가 아닙니다.')
    
if num1 % 2 != 0 :
    print('홀수입니다.')
else :
    print('짝수입니다.')

## 4. 학점 부여

In [ ]:
- 학점 부여하기
- 학점을 입력 받아서
 - 90점 이상이면 A
 - 80, B
 -70, C
 - 그외, D
- 변수 설정 유의

In [ ]:
score = float(input('점수를 입력해주세요:'))
absent = int(input('결석횟수를 입력하세요:'))

if score >= 90:
    print('A입니다.')
elif 80 <= score :
    print('B입니다.')
     if 
elif 70 <= score:
    print('C입니다.')
else :
    print('D입니다.')

## 5. 아이디 비번 일치

In [ ]:
- 아이디와 비번 입력받아서 일치하면 로그인
- 아이디, 비번 각자 정해놓기
- 일치하지 않을 때에는 창의적으로 어떤걸로 반환하기

In [8]:
my_id = 'mountainstar'
my_passward = '1234'

pers_id = input('ID:')
pers_passward = input('passward:')

if pers_id == my_id :
    if pers_passward == my_passward :
        print('로그인이 되었습니다.')
    else :
        print('잘못된 비밀번호 입니다.')
else :
    print('잘못된 아이디와 비밀번호 입니다.')

ID: mountainstar
passward: 1234

로그인이 되었습니다.

## 6. 학점 부여 확장

In [ ]:
- 결석횟수를 받아서, 점수가 80점이상인데 , 결석이 2번이상이면 F, 나머지는 점수대로
- 논리연산자 사용 or if 코드 크게 두번 사용

In [3]:
score = float(input('성적을 입력하세요:'))
absent = int(input('결석횟수를 입력학세요:'))

if absent >= 2 :
    grade = 'F'
else :
    if score >= 90:
        grade = 'A'
    elif 80 <= score :
        grade = 'B'  
    elif 70 <= score:
        grade = 'c'
    else :
        grade = 'D'
        
print(f'학점은 {grade}입니다.')

성적을 입력하세요: 90
결석횟수를 입력학세요: 2

학점은 F입니다.